<header class="header-main">
  <nav>
    <div class="logo">News</div>
    <div class="menu"></div>
  </nav>
  <form class="search-form" id="search-form">
    <input
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Search..."
    />
    <button type="submit" class="btn">Search</button>
  </form>

  <div class="darkmode">
    <label class="toggle">
      <p class="toggle__text">Light</p>
      <input
        js-toggle
        class="toggle__input"
        aria-label="toggle dark mode"
        type="checkbox"
      />
      <span class="toggle__fake"></span>
      <p class="toggle__text">Dark</p>
    </label>
  </div>
</header>
